body {
  margin: 23px;
}

table {
  border-collapse: collapse;
}

table, td {
  border: 1px solid black;
}

tr {
  vertical-align: middle;
}

td, #A0 {
  font-size: 12px;
  font-weight: bold;
  font-family: Consolas, ui-monospace, monospace;
  text-align: center;
  padding: 0;
  height: 22px;
  width: 22px;
}

.A {
  width: 83px;
  text-align: right;
  padding-right: 11px;
}

._, .r0 {
  color: white;
  border: 1px solid white;
  background-color: black;
}

.weekend {
    color: #9C0006;
}
